<div class="row">
    <p class="update-text">Serach and select the Workfront item you would like to update</p>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-1 col-xs-6 col-xs-offset-1" style="display: inline">
        <input type="text" ng-model="asyncSelected" placeholder="Search..."
               uib-typeahead="entity as entity.name for entity in getEntities($viewValue)"
               typeahead-template-url="templates/update/asyncTemplate.html" typeahead-loading="isLoading" typeahead-no-results="noResults"
               typeahead-popup-template-url="templates/update/popupTemplate.html"
               typeahead-wait-ms="300" class="form-control">
        <span ng-show="isLoading" class="refresh"><i class="glyphicon glyphicon-refresh"></i></span>
        <div ng-show="noResults">
            <i class="glyphicon glyphicon-remove"></i> No match found
        </div>


    </div>
</div>
<div class="row">
    <p class="update-text">Update</p>
    <textarea rows="10"></textarea>
</div>
<div class="row">
    <p class="update-text">Attachments</p>
    <div class="row col-md-6 col-md-offset-1 col-xs-6 col-xs-offset-1" ng-repeat="file in attachments" style="display: inline-flex">
        <div class="pill white"><a class="glyphicon glyphicon-remove white" ng-click="removeItem($index)"></a> {{file.name}}</div>
    </div>
</div>
