.privateSwitch input {
    display: none;
}

.privateSwitch span{
    height: 24px;
    width: 24px;
    background: url("../Images/Unlocked24.png");
    display: block;

}

.privateSwitch input:checked + span {
    background: url("../Images/Locked24.png")
}