<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AtTask.OutlookAddIn.Assets.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AtTask.OutlookAddIn.Assets.Settings>
            <setting name="AppDataFolder" serializeAs="String">
                <value>AtTask\Add-in</value>
            </setting>
            <setting name="StreamAPIVersion" serializeAs="String">
                <value>5.0</value>
            </setting>
            <setting name="ReporterHost" serializeAs="String">
                <value>https://hub.attask.com/</value>
            </setting>
            <setting name="ReporterUsername" serializeAs="String">
                <value>crashreporter</value>
            </setting>
            <setting name="ReporterPassword" serializeAs="String">
                <value>lovephones</value>
            </setting>
            <setting name="CrashProjectID" serializeAs="String">
                <value>4da441be000085afb119b3b7df6af21b</value>
            </setting>
            <setting name="CrashCategoryID" serializeAs="String">
                <value>4da81dd700009732cc888c862216fea9</value>
            </setting>
            <setting name="IsProduction" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoUpdateVersionXml" serializeAs="String">
                <value>http://op-updates.s3.amazonaws.com/version-info3.xml</value>
            </setting>
            <setting name="AutoUpdateOnlyRelease" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoUpdateCheckDelay" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="AutoUpdateCheckPeriodicity" serializeAs="String">
                <value>86400</value>
            </setting>
            <setting name="DeskMetricsAppID" serializeAs="String">
                <value>c8913fc01e674900b7522b02d98f9590</value>
            </setting>
            <setting name="ProductVersion" serializeAs="String">
                <value>4.0.0.0</value>
            </setting>
            <setting name="EqatecAppID" serializeAs="String">
                <value>90f3b2b028334ac5beec6e086faf7776</value>
            </setting>
        </AtTask.OutlookAddIn.Assets.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
